.DS_Store
build
/.vs
/vs2017
*.csv
foo*
*.filters
*.cmake
*.vcxproj
CMakeFiles/
CMakeCache.txt
*.so
win10/SparseQuantumSimulator.dll
osx/libSparseQuantumSimulator.dylib
linux/libSparseQuantumSimulator.so
