<#@ template language="C#" linePragmas="false" #>
unique_ptr<IRuntimeDriver> sim = CreateFullstateSimulator();
QirContextScope qirctx(sim.get(), <#= this.debug ? "true" : "false" #> /*trackAllocatedObjects*/);