linux
osx
win10
target
drop

# In the future, it would be good to enable reproducible builds by committing
# the lockfile and using --locked in calls to cargo.
Cargo.lock

# Ignore Python temporaries and build artifacts.
*.pyd
*.whl
*.egg-info

# Ignore generated C/C++ headers.
include/

# Don't ignore documentation here.
!docs
